*{
    margin: 0;
    padding: 0;
}
body {font-family: "Lato", Arial, sans-serif; min-width: 100%; min-height: 100%; color: #666;}

/*new disgne button en bg and text*/
.text-pink{color: #c2185b;}
.text-teal{color: #00695c;}
.btn-pink{color:#fff;background-color:#c2185b;border-color:#c2185b}.btn-pink:hover{color:#fff;background-color:#880e4f;border-color:#880e4f}.btn-pink.focus,.btn-pink:focus{color:#fff;background-color:#880e4f;border-color:#880e4f;box-shadow:0 0 0 .2rem rgba(72,180,97,.5)}
.btn-teal{color:#fff;background-color:#00695c ;border-color:#00695c }.btn-teal:hover{color:#fff;background-color:#004d40;border-color:#004d40}.btn-teal.focus,.btn-teal:focus{color:#fff;background-color:#004d40;border-color:#004d40;box-shadow:0 0 0 .2rem rgba(72,180,97,.5)}
.bg-pink{background-color:#c2185b!important}a.bg-pink:focus,a.bg-pink:hover,button.bg-pink:focus,button.bg-pink:hover{background-color:#880e4f!important}
.bg-teal{background-color:#00695c!important}a.bg-teal:focus,a.bg-teal:hover,button.bg-teal:focus,button.bg-teal:hover{background-color:#004d40!important}
.bg-teal-darken{background-color:#00796b!important}a.bg-teal:focus,a.bg-teal:hover,button.bg-teal:focus,button.bg-teal:hover{background-color:#00695c!important}
/*end of new disgne button en bg and text*/

/*sidebar*/
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #00695C;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #00695c;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
    border-radius: 30px 0 0 30px;
    margin-left: 7px;
}
ul.list-unstyled li.selected{
    color: #7386D5;
    background: #fff;
    border-radius: 30px 0 0 30px;
    margin-left: 7px;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #00695c;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #006969A8;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*end of sidebar styling*/
/*start navbar styling*/
#dropdownMenuButtonNav{
left: -118px;
}
/*end of navbar styling*/
/*start add employee styling*/
#bg-img{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='670' height='80.4' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23e3e3e3' stroke-width='2.1' stroke-opacity='0.35'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
 }
/*end of add employee styling*/
.mg-auto {
    margin-left: auto !important;
}
ul.list-unstyled components ml-2 li a > i{
    display:block;
    float:left;
    width:20px;
    height: 20px;
    margin-right:10px ;
    font-size:1em;
}
div.container h4.bg-title {
    background-color:#00796b;
    padding:10px;
    color: #ffffff;
    display: inline-block;
}
div.container a.button {
    background-color:#00796b;
    padding:10px;
    color: #ffffff;
    display: inline-block;
    float: right;
}
/*// css for label effects only*/
.floated{
    top: -16px!important;
    font-size: 12px!important;
    color: #20c997!important;
    transition: 0.3s!important;
}
.col-3{float: left; width: 27.33%; margin: 40px 3%; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}


.effect-17 {border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
.effect-17 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #20c997; transition: 0.4s;}
.effect-17:focus ~ .focus-border,
.has-content.effect-17 ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
.effect-17 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-17:focus ~ label, .has-content.effect-17 ~ label{top: -16px; font-size: 12px; color: #20c997; transition: 0.3s;}
/*// css for label effects only*/
fieldset {
    /*background-color: rgba(58, 180, 193, 0.3);*/
    border-radius: 4px;
    border: 2px solid #20c997;
}

legend {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: var(--teal);
    font-size: 17px;
    font-weight: bold;
    padding: 3px 5px 3px 7px;
    width: auto;
}
/*position button*/
.float{
    float: right!important;
}
/*position button*/

/*messanger notification*/
p.message{
    font-size: 0.95em;
    background-color: #222;
    color:#FFF;
    padding: 5px 10px;
    line-height: 1.5;
    margin:0 0 10px 0;
    border-radius:3px;

}
p.message.t1{
    background: #68ab68;
}
p.message.t2{
    background: #900;
}
p.message.t3{
     background: #e2b072;
 }
p.message.t4{
      background: #408eba;
}
/*messanger notification*/
